:root {
  --white: #ffffff;
  --white_: #f4f4fd;
  --blue: #4d5ae5;
  --blue_: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
}

address {
  font-style: normal;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}

.nav-list,
.nav-box,
.header-box,
.cont .address-list,
.div-buttonsect_,
.effsolutions .section-one-button,
.list-activity {
  display: flex;
  align-items: center;
}

.header-box {
  border-bottom: 1px solid #e7e9fc;
}

.nav-box {
  margin-right: auto;
}

.header-solid .header-box .nav-box .nav-list,
.address-list {
  gap: 40px;
}
.addres-gap {
  padding-right: 26px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin: 24px 76px 24px 0;
}

.logo-span {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item:is(:hover, :focus) {
  color: #404bbf;
}

.item-mail {
  color: #434455;
  white-space: nowrap;
}

.item-mail:is(:hover, :focus) {
  color: #404bbf;
}

.cont {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-right: 15px;
}

/**--Section1 -INDEX.HTML--*/

.buttonsect_ {
}

.div-buttonsect_ {
  background-color: #2e2f42;
  align-items: center;
  flex-direction: column;
  padding-top: 188px;
  padding-bottom: 188px;
}

.effsolutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.effsolutions-one {
}

.section-one-button {
  margin-top: 48px;
}

.button-main {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
}

.button-main:is(:hover, :focus) {
  background-color: var(--blue_);
}

/*Section2 -INDEX.HTML-*/
.section-two {
  padding: 120px 15px;
}

.list {
  gap: 24px;

  display: flex;
  align-items: flex-start;
}

.li-section-two {
  width: 264px;
}

.div-section-two {
}

.list-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

/**Section3 -INDEX.HTML-*/

.section-three {
  padding-bottom: 120px;
  /* margin-bottom: 120px; */
}

.div-section-three {
}

.activity {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-activity {
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
}

/*Section4 -INDEX.HTML-*/

.our-team {
}

.div-section-four {
  padding: 120px 15px;

  align-items: center;
  background-color: #f4f4fd;
}

.title-section-four {
  padding-bottom: 72px;
}

.list-uorteam {
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
}

/*Footer -INDEX.HTML-*/

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 100px 15px 100px 15px;
  background-color: #2e2f42;
}

.foofter-t {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
  color: #f4f4fd;
}

.logo-span-footer {
  color: #f4f4fd;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/*PORTFOLIO*/
/*header*/

.li-solid {
  border: 1px solid #e7e9fc;
}

.li-solid:nth-child(4),
.li-solid:nth-child(5),
.li-solid:nth-child(6),
.li-solid:nth-child(7),
.li-solid:nth-child(8),
.li-solid:nth-child(9) {
  margin-top: 25px;
}

.header-portfolio {
  padding: 32px 0 8px 16px;
  margin: 0;
}

.list-portfolio .li-solid .main-p {
  padding: 0 0 32px 16px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.button_ {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: flex-start;
  padding: 12px 24px;
}

.section-portfolio .button_:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--blue_);
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  order: 3;
  align-items: center;
  gap: 20px;
}
