:root {
  --white: #ffffff;
  --white_: #f4f4fd;
  --blue: #4d5ae5;
  --blue_: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
}

address {
  font-style: normal;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  /* outline: 2px solid red; */
}

.nav-list,
.nav-box,
.header-box,
.cont .address-list,
.div-buttonsect_,
.effsolutions .section-one-button,
.list-activity,
.section-four-list {
  display: flex;
  align-items: center;
}

.nav-box {
  margin-right: auto;
}

.nav-list,
.address-list {
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.logo-span {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item:is(:hover, :focus) {
  color: #404bbf;
}

.item-mail {
  color: #434455;
}

.item-mail:is(:hover, :focus) {
  color: #404bbf;
}

.cont {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**--Section1 -INDEX.HTML--*/

.buttonsect_ {
}

.buttonsect_ {
  padding: 0;
}

.div-buttonsect_ {
  align-items: center;
  flex-direction: column;
  background-color: #2e2f42;
}

.effsolutions {
  margin-top: 188px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

.section-one-button {
  margin-top: 48px;
}

.button-main {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  text-align: center;
  margin-bottom: 188px;
}

.button-main:is(:hover, :focus) {
  background-color: var(--blue_);
}

/*Section2 -INDEX.HTML-*/
.div-section-two .list {
  display: flex;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.div-section-two {
  border-bottom: 2px;
  border-top: 2px;
}

.list-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Section3 -INDEX.HTML-*/
.list-activity {
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
}

.activity {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*Section4 -INDEX.HTML-*/
.div-section-four {
  margin-top: 120px;
  margin-bottom: 120px;
}

.title-section-four {
  align-items: center;
  margin-top: 120px;
  margin-bottom: 72px;
}

.section-four-list {
  gap: 24px;
}

.section-four-item {
  margin-top: 32px;
}

.our-team {
  background-color: #f4f4fd;
}

.list-uorteam {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  gap: 24px;
}

/*Footer -INDEX.HTML-*/

.footer-b {
  background-color: #2e2f42;
}

.foofter-t,
.logo-span-footer {
  color: #f4f4fd;
}

/*PORTFOLIO*/
/*header*/
.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_ {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: flex-start;
  padding: 12px 24px;
}

.button_:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--blue_);
}

/**--Styles GEOMETRY--**/
